.container{
  width: 960px;
  margin: 0 auto;
  position: relative;
}
.home-slider-wpr{
  background-color: #fff;
  padding: 20px 0;
}

.carousel-button-row{
  position: absolute;
  bottom: -69px;
  width: 100%;
}